---
import Boletos from "../Boletos.astro";


//data de testeo para futuramente usar graphql (ELIMINAR CUANDO SE USE GRAPHQL)
const data = [
    {
        imgSrc: '/image/ciudades/tijuana.jpg',
        imgAlt: "Tijuana ciudad",
        title: 'Tijuana, MX', 
        description: 'EL KAURAL llega con su energ칤a desbordante. La banda promete una noche y musica inolvidable. 춰No te lo pierdas!',
        direccion: 'Jos칠 Gorostiza, Zona Urbana Rio, Tijuana, MX',
        day: '12',
        month: 'Oct',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/la_plata_argentina.jpg',
        imgAlt: "La plata argentina",
        title: 'La Plata, ARG',
        description: 'En su primera visita a La Plata, EL KAURAL llega con su sonido 칰nico que fusiona rock cl치sico y moderno. El Estadio Atenas ser치 el epicentro de un espect치culo lleno de potencia y pasi칩n.',
        direccion: 'Calle 32 y 23, Estadio Atenas, La Plata, Argentina',
        day: '3',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/buenos_aires_argentina2.jpg',
        imgAlt: "Buenos aires argentina",
        title: 'Buenos Aires, ARG', 
        description: 'Buenos Aires se prepara para recibir a EL KAURAL en el ic칩nico Estadio Monumental. Prep치rate para vivir un show explosivo que quedar치 grabado en la memoria de todos los fan치ticos del rock.',
        direccion: 'Avenida Libertador 7395, Estadio Monumental, Buenos Aires, Argentina',
        day: '7',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/rosario_argentina.jpg',
        imgAlt: "Rosario argentina",
        title: 'Rosario, ARG',
        description: 'EL KAURAL aterriza en Rosario para una noche cargada de adrenalina en el Metropolitano. Los seguidores de la banda disfrutar치n de un repertorio inolvidable y de una puesta en escena imponente.',
        direccion: 'Bv. Oro침o 1400, Metropolitano Rosario, Rosario, Argentina',
        day: '8',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/buenos_aires.jpg',
        imgAlt: "Buenos aires argentina",
        title: 'Buenos Aires, ARG', 
        description: 'Una segunda fecha en Buenos Aires para los que no pudieron asistir a la primera. EL KAURAL regresa con m치s fuerza que nunca para cerrar con broche de oro en el Hip칩dromo de Palermo.',
        direccion: 'Av. Figueroa Alcorta 5575, Hip칩dromo de Palermo, Buenos Aires, Argentina',
        day: '9',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/vi침a_del_mar_chile.jpg',
        imgAlt: "Vi침a del mar chile",
        title: 'Vi침a del Mar, CL',
        description: 'Vi침a del Mar vibrar치 al ritmo de EL KAURAL. El Casino de Vi침a del Mar ser치 testigo de una presentaci칩n llena de energ칤a y emociones que los fan치ticos del rock no pueden perderse.',
        direccion: 'Av. San Mart칤n 199, Casino de Vi침a del Mar, Vi침a del Mar, Chile',
        day: '14',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/santiago_chile.jpeg',
        imgAlt: "Santiago chile",
        title: 'Santiago, CL',
        description: 'EL KAURAL se toma Santiago por asalto con un concierto en el Movistar Arena. La noche promete ser una celebraci칩n del rock, con un espect치culo que har치 temblar la capital chilena.',
        direccion: 'Av. Grecia 2001, Movistar Arena, Santiago, Chile',
        day: '15',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/santiago_chile2.jpg',
        imgAlt: "Santiago chile",
        title: 'Santiago, CL',
        description: 'Para quienes no pudieron asistir a la primera fecha, EL KAURAL repite en el Teatro Caupolic치n. Una nueva oportunidad para vivir la magia y la fuerza de su m칰sica en vivo.',
        direccion: 'Av. Vicu침a Mackenna 4860, Teatro Caupolic치n, Santiago, Chile',
        day: '16',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/sandiego.jpg',
        imgAlt: "San diego, ciudad",
        title: 'San Diego, EUA', 
        description: 'San Diego ser치 el escenario perfecto para que EL KAURAL conquiste a su p칰blico estadounidense. El San Diego Convention Center ser치 testigo de una noche electrizante.',
        direccion: '111 W Harbor Dr, San Diego Convention Center, San Diego, EUA',
        day: '23',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/mexicali.jpg',
        imgAlt: "Mexicali ciudad",
        title: 'Mexicali, MX',
        description: 'EL KAURAL cierra el mes en Mexicali con un show que promete romper todos los esquemas. Plaza Calafia ser치 el lugar donde el rock y la emoci칩n se fusionar치n en una noche 칠pica.',
        direccion: 'Av. de los Presidentes 187, Plaza Calafia, Mexicali, MX',
        day: '30',
        month: 'Nov',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/ensenada.jpg',
        imgAlt: "Ensenada ciudad",
        title: 'Ensenada, MX', 
        description: 'Ensenada recibe por primera vez a EL KAURAL en el Centro Cultural Riviera. Prep치rate para una noche inolvidable llena de energ칤a y puro rock.',
        direccion: 'Blvd. Costero 1201, Centro Cultural Riviera, Ensenada, MX',
        day: '7',
        month: 'Dic',
        year: '2024'
    },
    {
        imgSrc: '/image/ciudades/los_angeles.jpg',
        imgAlt: "Los angeles ciudad",
        title: 'Los Angeles, EUA',
        description: 'Los 츼ngeles se enciende con la llegada de EL KAURAL al Microsoft Theater. Una presentaci칩n que promete ser una de las m치s memorables de su gira.',
        direccion: '800 W Olympic Blvd, Microsoft Theater, Los Angeles, EUA',
        day: '14',
        month: 'Dic',
        year: '2024'
    }
];

---

<section>
    <main>
        <div class="columna-izquierda">
            {
                data.map((boleto) => (
                    <Boletos
                        title={boleto.title}
                        description={boleto.description}
                        imgSrc={boleto.imgSrc}
                        imgAlt={boleto.imgAlt}
                        direccion={boleto.direccion}
                        day={boleto.day}
                        month={boleto.month}
                        year={boleto.year}
                    />
                ))
            }
        </div>
     
        <div class="columna-derecha">
            <form>
                <img src="/image/kaural/elkaurallogo2.png" alt="EL KAURAL" class="responsive-img">


                <div class="input-container">
                    <span class="icon">游녻</span>
                    <input type="text" id="nombre" name="nombre" placeholder="Tu nombre">
                </div>

                <div class="input-container">
                    <span class="icon">九괦잺</span>
                    <input type="email" id="correo" name="correo" placeholder="Tu correo">
                </div>

                <input type="submit" value="Enviar" class="submit-btn">
            </form>
        </div>
    </main>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid black;
    }
    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .columna-izquierda {
        display: flex;
        flex-direction: column;
        flex: 0 auto;
        align-items: center;
        flex-grow: 1;
        flex-basis: 70%;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .columna-derecha {
        position: sticky;
        top: 25vh;
        flex: 0 auto;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        width: 30%;

    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 50px;
    }
    .title {
        font-size: clamp(24px, 7vw, 90px);
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    .responsive-img {
        max-width: 600px;
        max-height: 600px;
        width: 100%;
        height: auto;
    }
    /* Estilo para los inputs */
    .input-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px; /* Separaci칩n entre inputs */
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
    }

    .icon {
        margin-right: 10px;
        font-size: 1.5rem;
    }

    input[type="text"],
    input[type="email"] {
        flex-grow: 1;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        box-sizing: border-box; 
    }

    /* Estilo para el bot칩n */
    .submit-btn {
        width: 100%;
        padding: 10px;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
        background-color: rgb(50, 50, 50);
    }

    .submit-btn:active {
        background-color: rgb(20, 20, 20);
    }

    .submit-btn:focus {
        outline: none;
    }
    @media (max-width: 768px) {
        main {
            flex-direction: column-reverse;
        }
        .columna-izquierda {
            border-right: none;
        }
        .columna-derecha {
            position: static;
            width: 100%;
            padding: 24px;
        }
    }
</style>