---
interface Props {
  title?: string;
  description?: string;
    imgSrc?: string;
    imgAlt?: string;
    direccion?: string;
    day?: string;
    month?: string;
    year?: string;

}
const { title, description, imgSrc="public/image/workingteam.png", imgAlt, direccion, day, month, year } = Astro.props;

---

<section class="custom-component">
	<main class="maincontain">
	

		<!-- Primer elemento: Imagen -->
		<div class="image-container">
			<img src=`${imgSrc}` alt=`${imgAlt}` class="image">
		</div>
		
		<!-- Segundo elemento: Columna de texto -->
		<div class="text-container">
			<h1 class="title">{title}</h1>
			<p class="description">{description}</p>
			<p class="direccion">{direccion}</p>
			<p class="responsive-date">
				<span class=" bg-red-800 p-2 mt-1 text-white">

					{`${day} ${month} ${year}`}
				</span>
			</p>
	</div>
	
	<!-- Tercer elemento: month y Día -->
	<div class="date-container">
		<div class="date">
			<div class="background-image2"></div>
			<p class="month">{month}</p>
			<p class="day">{day}</p>
			<p class="day">{year}</p>
		</div>
	</div>
</main>
  </section>
  
  <style>
	/* Estilos generales del componente */
	.custom-component {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  background-color: white;
	  border-bottom: 1px solid black;
	
	  width: 100%;
	 
	  transition: all 0.6s ease; 
	  color: black; 
	}
	.maincontain {
		position: relative;
		display: flex;
	  align-items: center;
	  justify-content: space-between;
		width: 100%;
		height: auto;
		
	}
  
	.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background-size: contain;
    background-position: center;
	background-repeat: repeat;
    opacity: 0.15;
    transition: background-image 0.6s ease;
  }
	.background-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: center;
	background-repeat: repeat;
    opacity: 0.15;
    transition: background-image 0.6s ease;
  }

	.image-container {
	  width: 30%;
	  height: 100%;
	  transition: width 0.6s ease; 

	  z-index: 1;
	  background-color: tomato;
	}
  
	.image {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  
	
	.text-container {
	
	  width: 50%; 
	  padding: 0 40px; 
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center; 
	  z-index: 1;
	}
  
	.title {
	  font-size: clamp(16px, 5vw, 90px);
	  font-family: OldPress;
	  text-align: left;
	}
  
	.description {
     font-size: clamp(14px, 3vw, 24px);
	  margin-top: 10px;
	text-align: left;
	overflow: auto;
	}
  
	.direccion {
	  font-size: clamp(14px, 5vw, 16px);
	  color: gray;
	  margin-top: 5px;
	  text-align: left;
	}

  
	
	.date-container {
	  width: 15%;
	 
	  display: flex;
	  justify-content: flex-end;
	  z-index: 1;
	}
  
	.date {
	  background-color: rgb(27, 27, 27);
	  color: white;
	  text-align: center;
	  padding: 20px;
	  width: 150px;
	  position: relative;
	  border-top: 5px solid black;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
	}
	.responsive-date {
  display: none;
}

  
	.month {
	  font-size: 1.5rem;
	}
  
	.day {
	  font-size: 2rem;
	  font-weight: bold;
	}
    .year {
        font-size: 1.5rem;
    }
  
	/* Efecto hover: fondo con degradado, crecimiento de imagen, mayor border-radius, texto cambia a blanco */
	.custom-component:hover {
	  background: linear-gradient(90deg, #d35400, #a74300); /* Degradado de #cd5a07 a #5c2306 */

	
	  color: white; 
	}

	/* Crecimiento de la imagen al hacer hover */
	.custom-component:hover .image-container {
	  width: 32%;
	}
  
	/* Cambiar color del texto a blanco al hacer hover */
	.custom-component:hover .title,
	.custom-component:hover .description,
	.custom-component:hover .direccion,
	.custom-component:hover .responsive-date
	{
	  color: white;
	}





	@media (max-width: 768px) {
  .custom-component {
    flex-direction: column;
    align-items: flex-start;
  }
  	.custom-component:hover .image-container {
	  width: 100%;
	
	}
	.custom-component:hover {
	  background: linear-gradient(90deg, #000000, #a74300); /* Degradado de #cd5a07 a #5c2306 */

	}

	.custom-component:hover .title
	{
	  color: rgb(255, 172, 56);
	}



  .image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: width 0.6s ease; 
	z-index: 1;
	background-color: rgb(0, 0, 0);
	opacity: 0.2;
  }



  .text-container {
    width: 100%;
    padding: 20px;
    text-align: left;

  }

  .date-container {
    display: none; /* Ocultar la caja de fecha */
  }

  .direccion {
    font-weight: bold; /* Muestra la fecha en negritas debajo del texto */
  }
  .responsive-date {
    display: block;
    font-weight: bold;
    margin-top: 10px;
	font-size: large;


  }

  .date-container {
    display: none; /* Ocultar la sección de la fecha en cajas */
  }
   /* Asignamos la imagen como fondo del contenedor principal */
   .custom-component {
    background-color: rgb(255, 255, 255);

  }

  /* Para que el texto siga siendo legible */
  .text-container, .responsive-date, .direccion {
    position: relative;
    z-index: 2;
    color: black; /* Cambia el color del texto si es necesario */
  }
  .title {
	  font-size: clamp(34px, 2vw, 90px);

	}
  
	.description {
     font-size: clamp(16px, 2vw, 24px);
	

	}
  
	.direccion {
	  font-size: clamp(14px, 2vw, 16px);

	}

  
}

		
  </style>