---
interface Props {
  title?: string;
  description?: string;
    imgSrc?: string;
    imgAlt?: string;
    direccion?: string;
    day?: string;
    month?: string;
    year?: string;

}
const { title, description, imgSrc="public/image/workingteam.png", imgAlt, direccion, day, month, year } = Astro.props;

---

<section class="custom-component">
	<!-- Primer elemento: Imagen -->
	<div class="image-container">
	  <img src=`${imgSrc}` alt=`${imgAlt}` class="image">
	</div>
  
	<!-- Segundo elemento: Columna de texto -->
	<div class="text-container">
	  <h1 class="title">{title}</h1>
	  <p class="description">{description}</p>
	  <p class="direccion">{direccion}</p>
	</div>
  
	<!-- Tercer elemento: month y Día -->
	<div class="date-container">
	  <div class="date">
		<p class="month">{month}</p>
		<p class="day">{day}</p>
		<p class="day">{year}</p>
	  </div>
	</div>
  </section>
  
  <style>
	/* Estilos generales del componente */
	.custom-component {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  background-color: white;
	  border-bottom: 1px solid black;
	  width: 100%;
	 
	  transition: all 0.6s ease; /* Cambio más lento */
	  color: black; /* Texto por defecto negro */
	}
  
	/* Imagen */
	.image-container {
	  width: 30%;
	  height: 100%;
	  transition: width 0.6s ease; /* Crecimiento más lento */
	  background-color: aqua;
	}
  
	.image {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  
	/* Columna de texto */
	.text-container {
	  width: 50%; /* Más espacio para los textos */
	  padding: 0 40px; /* Mayor separación */
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center; /* Texto centrado */
	}
  
	.title {
	  font-size: clamp(16px, 5vw, 60px);
	  font-weight: bold;
	  text-align: left;
	}
  
	.description {
     font-size: clamp(14px, 3vw, 24px);
	  margin-top: 10px;
	text-align: left;
	overflow: auto;
	}
  
	.direccion {
	  font-size: clamp(14px, 5vw, 16px);
	  color: gray;
	  margin-top: 5px;
	  text-align: left;
	}
  
	/* Cuadro de fecha */
	.date-container {
	  width: 15%;
	  display: flex;
	  justify-content: flex-end;
	}
  
	.date {
	  background-color: rgb(27, 27, 27);
	  color: white;
	  text-align: center;
	  padding: 20px;
	  width: 150px;
/* 	  border-radius: 5px; */
	}
  
	.month {
	  font-size: 1.5rem;
	}
  
	.day {
	  font-size: 2rem;
	  font-weight: bold;
	}
    .year {
        font-size: 1.5rem;
    }
  
	/* Efecto hover: fondo con degradado, crecimiento de imagen, mayor border-radius, texto cambia a blanco */
	.custom-component:hover {
	  background: linear-gradient(90deg, #f16603, #772800); /* Degradado de #cd5a07 a #5c2306 */
	  border-radius: 25px; /* Más border-radius */
	  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	  color: white; /* Cambia el texto a blanco */
	}
  
	/* Crecimiento de la imagen al hacer hover */
	.custom-component:hover .image-container {
	  width: 32%;
	}
  
	/* Cambiar color del texto a blanco al hacer hover */
	.custom-component:hover .title,
	.custom-component:hover .description,
	.custom-component:hover .direccion {
	  color: white;
	}
  </style>